{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>SecurePortal – Corporate Internal Access</title>{% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
